.form{
    display: flex;
    font-size: larger;
    /* gap: 20px; */
    background-color: lightpink;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    justify-content:space-evenly;
}

input{
    width: 250px;
    height: 20px;
    border-radius: 5px;
}

button{
    width: 200px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    background-color:cornflowerblue;
}

li{
    background-color:rgb(245, 151, 85);
    font-size: larger;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content:space-evenly;
}

body{
    background-color: rgb(51, 48, 48);
}